In [7]:
# while-løkker brukt for å telle
teller = 10
while teller > 0:
    print(teller)
    teller -= 1

# Oppvarming:
# Tell alle partall fra 2 til 20
teller = 2
while teller <= 20:
    print(teller)
    teller += 2

4
6
8
10
12
14
16
18
20
22

In [8]:
# For-løkker
# Brukes for å gå gjennom en sekvens, 
# en samling med *ting*. F.eks en liste med tall eller en ordbok med nøkler.
for tall in [1,2,3,4,5,6,7,8,9,10]:
    print(tall)

for bokstav in "Ja, vi elsker":
    print(bokstav)

1
2
3
4
5
6
7
8
9
10

In [15]:
# Range
# range(start, slutt_før, steg) er en innebygd funksjon som gir oss en sekvens med tall,
# som vi kan bruke i for-løkker

# for tall in [1,2,3,4,5,6,7,8,9,10]: # dette blir slitsomt i lengden! Her kan vi heller bruke range
#     print(tall)

# for tall in range(1, 11, 1): # (1 til 10) for hvert tall i sekvensen som starter på 1, slutter før 11 og øker med 1
#     print(tall)

# eksperttips, 
# hvis vi starter på 0, trenger vi ikke skrive start-argument
# hvis vi skal øke med 1, trenger vi ikke skrive steg-argument
# oppgave
# 1. lag en for-løkke som printer tallene fra 0 til 7
# for tall in range(8):
#     print(tall)
# 2. lag en for-løkke som printer tallene fra 10 til 1 - utfordring
for tall in range(10, 0, -1):
    print(tall)

10
9
8
7
6
5
4
3
2
1

In [17]:
fag = ["IT1", "IT2", "1T", "R1", "R2"]
karakterer = [6, 6, 4, 5, 4]

# Oppgave print fag og karakter på samme linje - bruk for tall in range()
# eks: IT1: 6
# eks: IT2: 6
for tall in range(len(fag)):
    print(f"{fag[tall]}: {karakterer[tall]}")

IT1: 6
IT2: 6
1T: 4
R1: 5
R2: 4

In [21]:
ravi = {
    "navn": "David Ravi",
    "alder": 43,
    "yrke": "Mattelærer",
    "favorittaktivitet": "gaming",
    "favorittdrikk": "databrus",
    123: "favorittall" # vi kan også bruke andre typer nøkler i ei ordbok
    # nøkkel: verdi
}

print(ravi["yrke"])
print(ravi[123])

print()
print("Nøkler")
# variabelen som opprettes i en for-løkke som går gjennom 
# en ordbok vil etter tur ha verdiene til nøklene i ordboka
for nøkkel in ravi:
    print(nøkkel, ravi[nøkkel])

# alternativ kan vi bruke .items() og to variabler for å gå gjennom alt innholdet i ei ordbok
for nøkkel, verdi in ravi.items():
    print(nøkkel, verdi)

Mattelærer
favorittall

Nøkler
navn David Ravi
alder 43
yrke Mattelærer
favorittaktivitet gaming
favorittdrikk databrus
123 favorittall
navn David Ravi
alder 43
yrke Mattelærer
favorittaktivitet gaming
favorittdrikk databrus
123 favorittall

In [25]:
skuespillere = [
    {"navn": "Tom Hanks", "alder": 66},
    {"navn": "Meryl Streep", "alder": 73},
    {"navn": "Leonardo DiCaprio", "alder": 48},
    {"navn": "Julia Roberts", "alder": 55},
    {"navn": "Denzel Washington", "alder": 67},
    {"navn": "Nicole Kidman", "alder": 55},
    {"navn": "Brad Pitt", "alder": 59},
    {"navn": "Charlize Theron", "alder": 47},
    {"navn": "Johnny Depp", "alder": 59},
    {"navn": "Emma Stone", "alder": 34},
]

favoritt = skuespillere[9]
# favoritt = skuespillere[-1] # alternativ kan vi hente ut siste skuespiller -1
print(f"{favoritt['navn']} ({favoritt['alder']})")

Emma Stone (34)

In [33]:
for skuespiller in skuespillere:
    print(f"{skuespiller['navn']} ({skuespiller['alder']})")

Tom Hanks (66)
Meryl Streep (73)
Leonardo DiCaprio (48)
Julia Roberts (55)
Denzel Washington (67)
Nicole Kidman (55)
Brad Pitt (59)
Charlize Theron (47)
Johnny Depp (59)
Emma Stone (34)

In [35]:
eldst = skuespillere[0]
totalalder = 0
for skuespiller in skuespillere:
    totalalder += skuespiller["alder"]
    if skuespiller["alder"] > eldst["alder"]:
        eldst = skuespiller
print(eldst)
snitt = totalalder / len(skuespillere)
print(snitt)

{'navn': 'Meryl Streep', 'alder': 73}
56.3